<!doctype html>
<html lang="en">

<head>
    <title>Sesh Tunez - Dashboard</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" 
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" 
        crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="./scripts/dashboard.js"></script>
</head>

<body>
    <header>
        <nav class="navbar bg-dark text-light py-3 mb-5">
            <div class="col">
                <a href="/" style="text-decoration:none" class="text-light"
                ><h3>Sesh Tunez</h3></a>
            </div>
            <div class="col-md-2 text-right">
                <a href="/logout"
                class="btn btn-outline-danger">Logout</a>
            </div>
        </nav>
    </header>

    <main>
        <div class="row mx-3 px-3">
            <div class="col text-center">
                <h4>Seshes Attending</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Sesh Name</th>
                            <th scope="col">Organizer</th>
                            <th scope="col">Leave</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i of user.inviteList) { %>
                            <tr>
                                <th scope="row"><% i+1 %></th>
                                <td><%= user.inviteList[i].name %></td>
                                <td><%= user.inviteList[i].organizer.username %></td>
                                <td><a href="/db/v1/seshes/<%= user.inviteList[i]._id %>/removeAttendee"
                                    class="btn btn-danger">Leave Sesh</a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
            <div class="col text-center py-5">
                <a href="/createSesh" class="btn btn-lg btn-primary"
                >Create a Sesh</a>
            </div>
            <div class="col text-center">
                <h4>Sesh Invitations</h4>
                <table class="table table-striped">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">No</th>
                            <th scope="col">Sesh Name</th>
                            <th scope="col">Invited By</th>
                            <th scope="col">Accept</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (var i of user.eventList) { %>
                            <tr>
                                <th scope="row"><% i+1 %></th>
                                <td><%= user.eventList[i].name %></td>
                                <td><%= user.eventList[i].organizer.username %></td>
                                <td><a href="/db/v1/seshes/<%= user.eventList[i]._id %>/acceptInvitation"
                                    class="btn btn-success">Attend</a></td>
                            </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" 
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" 
        crossorigin="anonymous"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" 
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" 
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" 
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" 
        crossorigin="anonymous"></script>
</body>

</html>